*.o
*.a
.DS_Store
.build/
.cache/
.direnv/
.envrc
.swiftpm
.venv
.vs/
.vscode/

build/
build-em/
build-debug/
build-release/
build-static/
build-cublas/
build-no-accel/
build-sanitize-addr/
build-sanitize-thread/

models/*
*.bin

/main
/main-gptneox
/main-oasst
/quantize
/quantize-gptneox
/quantize-stats
/update-llama
/update-gptneox
/result
/perplexity
/embedding
/benchmark-matmult
/vdot
/Pipfile

build-info.h
arm_neon.h
compile_commands.json

__pycache__

zig-out/
zig-cache/

ppl-*.txt
qnt-*.txt

examples/jeopardy/results.txt
